<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shadows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shadows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Shadows.Properties.Settings>
            <setting name="LogLayoutConversionPattern" serializeAs="String">
                <value>%date{dd.MM.yyyy HH:mm:ss} [%5level]  -  %message%newline</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>Shadows.log</value>
            </setting>
            <setting name="MainWindowDefaultWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MainWindowDefaultHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ExtensionsImages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>jpg</string>
                        <string>jpeg</string>
                        <string>bmp</string>
                        <string>png</string>
                        <string>gif</string>
                        <string>tif</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExtensionsMusic" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>wav</string>
                        <string>wave</string>
                        <string>mp3</string>
                        <string>wma</string>
                        <string>aac</string>
                        <string>flac</string>
                        <string>ogg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExtensionsVideos" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>avi</string>
                        <string>mpg</string>
                        <string>mpeg</string>
                        <string>wmv</string>
                        <string>mov</string>
                        <string>mp4</string>
                        <string>flv</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResultsFileNameSeparator" serializeAs="String">
                <value>  |  </value>
            </setting>
            <setting name="ResultsModificationDateFormat" serializeAs="String">
                <value>dd.MM.yy  |  HH:mm:ss</value>
            </setting>
        </Shadows.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Shadows.Properties.Settings>
            <setting name="LogDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogMaxSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="LogArchives" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtensionsCustom" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SearchFileNameRegex" serializeAs="String">
                <value/>
            </setting>
            <setting name="ResultsInitiallyExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveGroupsWithOneEntry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCompareFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCompareFileExtension" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCompareFileSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCompareFileContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchIncludeHiddenFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchIncludeSystemFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchMatchRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchExtensionsImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchExtensionsMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchExtensionsVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchExtensionsCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchExtensionMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Shadows.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
